<style>
	.credentials-container {
		padding: 8px 10px;
		border-radius: 6px;
		background-color: #ddd;
	}
	p {
		widht: 100%;
	}
</style>

<p>Olá, {{name}},</p>

<br />

<p>Sua senha foi redefinida.</p>

<br />

<p>Segue o seu novo acesso ao Integrare OS:</p>

<br />

<div class="credentials-container">
	<p>Login: <b>{{login}}</b></p>
	<p>Senha padrão: <b>{{password}}</b></p>
</div>

<br />

<p>Obs.: Para sua segurança, troque sua senha no primeiro acesso.</p>